/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
  text-decoration: none;
  list-style: none;
}
 
/*classes flex*/
.flex {
  display: flex;
  flex-wrap: wrap;
}
 
.flex-column {
  flex-direction: column;
}

.reverse {
  flex-direction: row-reverse;
}
 

.gap-6{
    gap: 6px;
}
.gap-20{
    gap: 20px;
}

.justify-between {
  justify-content: space-between;
}
 
.justify-around {
  justify-content: space-around;
}
 
.justify-center {
  justify-content: center;
}
 
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}

.align-center {
  align-items: center;
}
 
.align-start {
  align-items: flex-start;
}
 
.align-end {
  align-items: flex-end;
}
 
.txt-align-center{
    text-align: center;
}
/*largeurs*/
.haight{
    height: 5px;
}
header i {
    font-size: 25px;
}
i{
    font-size: 35px;
}
.w-100{
    width: 100%;
}
.w-75{
    width: 75%;
}
.w-70{
    width: 70%;
}
.w-65{
    width: 65%;
}
.w-33{
    width: 33%;
}
.w-28{
    width: 28%;
}
.w-20{
    width: 20%;
}
.w-8{
    width: 8%;
}

.p-10{
    padding: 0px 10px 0px 10px;
}

.p-16 {
  padding: 16px;
}
 
.p-32 {
  padding: 32px 0;
}

.p-35 {
    padding: 0px 35px 0px 35px;
}

.m-top15 {
    margin-top: 15px;
}
.container {
  width: 100%;
  padding: 16px;
}
 
.container-1000 {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}
 
.container-1200 {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}


/* classes flexbox */

.flex{
    display: flex;
    flex-wrap: wrap;
}
.wrap{
    flex-wrap: wrap;
}

/*alignement*/

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}



/* génériques */

#section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;

    gap: 20px;

}

.prix{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.carte {
    background-color: #592323;
    padding: 20px;
    border-radius: 20px;
    width: 47%;
}
.carte2 {
    background-color: #473B25;
    padding: 20px;
    border-radius: 20px;
    width: 47%;
}


/*truc en moins (liste etc..)*/
.ptsenmoins{
 list-style: none;
}
.raf{
    text-decoration: none;
}

/* header */
.align{
    justify-content: space-between;
    align-items: center;
}

.centreforma{
align-content:center; 
text-align: center;
} 
/* hero */
.hero{
    justify-content: space-between;
   
}
/*cadre*/
.bg-whitesnake{
    background-color: whitesmoke;
    width: 55%;
    margin: 0px 50px 50px 300px;
    padding: 10% 0;
opacity: 0.8;
border-radius: 5%;
}
.bg-hero{
    
    background-image:url(Asset/image-hero.png);
    height:70vh /* indique hauteur de 70% de la hauteur de mon écran */;
    background-position: center; /* centre l'image de fond */
    background-repeat: no-repeat; /* empêche la répétition de l'image de fond*/
    background-size: cover; /*adapte l'image de fond à la taille de l'écran */
}
/*couleur de texte*/

.txt-white{
    color: white;
}
.txt-green{
    color:#473B25;
}
a {
    color: black;
}
/* section 1 */

/* main */
.opacity{
    background-color: white;
    opacity: 0.5; /* 50% de transparence */
}
.btn{
    border-radius: 10%;
    background-color: #FF9020;
    width: 25%;
    height: 10%;
}

/*div conseil*/
.bg-brown{
    background-color: #592323;
}
.brd-radieux{
    border-radius: 10%;
}
/*div services*/
.bg-service{
    background-image: url(Asset/image-bg2.png);
}
/*carte haut du footer*/
.bg-hautfooter{
    background-color: #473B25;
}
/* footer */

.bg-white{
    background-color: white;
}



/*JavaScript code innerHTML*/

.pdng{
    padding-left: 115px;
}
.pdngdiv {
    padding-left: 20px;
}